<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<LangVersion>latest</LangVersion>
		<Nullable>annotations</Nullable>

		<Company>Truinto</Company>
		<Authors>Truinto</Authors>
		<Copyright>Copyright © Truinto 2024</Copyright>
		<Title>$(MSBuildProjectName)</Title>
		<RepositoryUrl>https://github.com/Truinto/</RepositoryUrl>
		<PackageLicenseExpression>MIT</PackageLicenseExpression>

		<ILRepackTargetsFile>$(SolutionDir)ILRepack.targets</ILRepackTargetsFile>
		<DoILRepack>false</DoILRepack>

		<AllowUnsafeBlocks>true</AllowUnsafeBlocks>
		<AccelerateBuildsInVisualStudio>false</AccelerateBuildsInVisualStudio>
		<DebugSymbols>true</DebugSymbols>
		<DebugType>embedded</DebugType>
		<!-- <GenerateDocumentationFile>True</GenerateDocumentationFile> -->
		<!-- <Optimize>False</Optimize> -->
	</PropertyGroup>

	<ItemDefinitionGroup>
		<!--<Reference Private="false" />-->
		<!--<ProjectReference Private="false" />-->
	</ItemDefinitionGroup>

	<ItemGroup>
		<GlobalAnalyzerConfigFiles Condition="Exists('$(SolutionDir)\..\Shared\.globalconfiguration')" Include="$(SolutionDir)\..\Shared\.globalconfiguration" Link=".globalconfiguration" />
		<GlobalAnalyzerConfigFiles Condition="!Exists('$(SolutionDir)\..\Shared\.globalconfiguration') And Exists('$(SolutionDir)\@Shared\.globalconfiguration')" Include="$(SolutionDir)\@Shared\.globalconfiguration" Link=".globalconfiguration" />
	</ItemGroup>

	<Import Condition="Exists('Directory.Build.props.default')" Project="Directory.Build.props.default" />
	<Import Condition="Exists('Directory.Build.props.user')" Project="Directory.Build.props.user" />
</Project>
